body {
    font-family: fantasy;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 350px;
}

.container {
    max-width:800px;
    margin: 0 auto;
    color: #583580;
    padding: 20;
    }
