body {
    font-family: fantasy;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
   
    border-radius:50px;
}

.container {
    max-width:800px;
    margin: auto;
    color: #583580;
    
    }
